body,
html {
  height: 100%;
  margin: 0;
  color: white;
}

#bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#time {
  font-size: 80px;
  font-weight: bold;
}

#quote {
  font-size: 50px;
  text-align: center;
}

#weather {
  font-size: 30px;
  font-weight: bold;
}
#weather-icon {
  width: 55px;
  height: auto;
  margin-top: -5px;
}
.weather-info {
  display: flex;
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
  gap: 0.5rem;
}
.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}
.container {
  display: flex;
  flex-direction: column;
}
.delete {
  background-color: transparent;
  cursor: pointer;
}
.complete {
  text-decoration: line-through;
}
.footer {
  margin: auto;
}
/* input */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: white;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  /* border-image: linear-gradient(to right, #11998e, #38ef7d); */
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  /* color: #11998e; */
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
